<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timothy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.timothy.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.timothy.permission.C2D_MESSAGE" />

    <application
        android:name=".Core.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.timothy.Activitys.LoginActivity"
            android:label="@string/app_name"/>

        <activity android:name=".Activitys.OrderActivity" />
        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity android:name="com.timothy.Activitys.MainActivity" />
        <activity android:name="com.timothy.Activitys.SendActivity" />
        <activity android:name="com.timothy.Activitys.CartActivity" />
        <activity android:name="com.timothy.Activitys.HistoryActivity" />

        <activity android:name=".Activitys.LoadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="com.timothy.GCM.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.timothy" />
            </intent-filter>
        </receiver>
    </application>

</manifest>